body {
  background-color: var(--Celtic-600, #417845);
  padding: 25px;
}

.header-container {
  margin: 0 auto;
  margin-top: 40%;
  color: var(--gray-white);

  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.logo-container {
  margin: 40px auto;
}