<html>
  <head>
    <title>Booking List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link
      rel="stylesheet"
      href="/adminAnnouncementModule/adminAnnouncementDetail/adminAnnouncementDetail.css"
    />
    <script
      defer
      src="/adminAnnouncementModule/adminAnnouncementDetail/adminAnnouncementDetail.js"
    ></script>
  </head>
  <title>Announcement Detail</title>
  <body>
    <div class="bg-head"></div>
    <div class="announcement-container">
      <div id="announcement-title"><%= title %></div>
      <div id="announcement-date"><%= createdAt %></div>
      <div id="announcement-content"><%= description %></div>
    </div>
  </body>
</html>
