<html>
  <head>
    <title>Booking List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/global.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/adminAnnouncementModule/adminCreateAnnouncement/adminCreateAnnouncement.css"
    />
    <script
      defer
      src="/adminAnnouncementModule/adminCreateAnnouncement/adminCreateAnnouncement.js"
    ></script>
  </head>
  <body>
    <div class="title">CREATE ANNOUNCEMENT</div>
    <hr class="solid" />
    <form method="post" action="/admin/announcement/create">
      <label for="title">Title</label>
      <input id="title" placeholder="text" type="text" name="title" />
      <label for="description">Description</label>
      <input
        id="description"
        placeholder="text"
        type="text"
        name="description"
      />
      <button id="post">POST ANNOUNCEMENT</button>
    </form>
  </body>
</html>
