.booking-info {
  position: absolute;
  left: 50%;
  margin-top: -50px;
  transform: translate(-50%, 0%);
  width: 80%;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
}

@media screen and (min-width: 800px) {
  .booking-info {
    margin-top: -50px;
  }
}

.booking-info > div {
  position: relative;
  height: 100%;
}

.booking-info-admin {
  font-size: 20px;
}


#booking-date {
  font-size: 14px;
}

#qr-btn {
  position: absolute;
  width: 20%;
  height: 20px;
  right: 5;
  bottom: 0;
  font-size: 14px;
}

.booking-list {
  margin: 100px auto;
  width: 80%;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  padding: 25px;
}

.booking-list-table {
  font-size: 11px;
  width: 100%;
  text-align: center;
}

.booking-list-table th {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.booking-list-table td {
  padding: 5px 0;
}

.confirmed {
  width: 67px;
  height: 18px;
  background-color: #B8F1B6;
  border-radius: 20px;
}

.cancelled {
  width: 67px;
  height: 18px;
  background-color: #F1B6B6;
  border-radius: 20px;
}