<html>
  <head>
    <title>Booking List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../global.css" />
    <link rel="stylesheet" type="text/css" href="./bookingscanner.css" />
  </head>
  <body>
    <div class="header">
      <div class="header-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="16" viewBox="0 0 30 16" fill="none">
          <path d="M0.292892 7.29289C-0.0976316 7.68342 -0.0976316 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928933C7.68054 0.538408 7.04738 0.538408 6.65685 0.928933L0.292892 7.29289ZM30 7L1 7V9L30 9V7Z" fill="white"/>
          </svg>
      </div>
      <div class="header-text">Scan QR Code</div>
    </div>
    <div class="qr-container">
      <div class="qr-instruction">Place QR code inside the frame to scan</div>
      <div id="scanner"></div>
      <div id="result">Result</div>
      <div class="qr-button-container">
        <button id="qr-button">Button for other feature if needed</button>
      </div>
    </div>
  </body>
  <script src="./bookingscanner.js"></script>
</html>