<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/clientAnnouncementModule/announcement/announcement.css">

<div class="header">
  &lt; Back
</div>

<div class="header-2">
  Announcements
</div>

<div class="announcement-container">
  <div class="announcement-item">
    <div>ICON</div>
    <div>Announcement Title</div>
    <div>
      >
    </div>
  </div>
</div>