<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/clientAnnouncementModule/announcementDetail/announcementDetail.css">

<div class="header">
  &lt; Back
</div>

<div class="announcement-title"> 
  Announcement Title
</div>


<div class="announcement-container">
</div>