<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/adminLanding/landing.css">
<script defer src="/adminLanding/landing.js" ></script>

<div class="header-container">
  <div class="header">
    Hello, 
    <% if (role.toLowerCase() === 'ssu') { %>
      <%= role.toUpperCase() %> Admin
    <% } else { %>
      <%= role.charAt(0).toUpperCase() + role.slice(1).toLowerCase() %>
    <% } %>
  </div>
</div>

<!-- Content for dispatcher -->
<div class="dispatcher-container">
  <div class="item">
    <a href="/admin/checkin">Check In</a>
  </div>
</div>
<div class="tab">
  <a href="/admin">Home</a>  
  <a href="/profile">Account</a>
</div>

<!-- Content for admin -->
 <div class="admin-container">
  <a href="/admin/schedule">
    <div class="item">
      <span class="material-icons">calendar_month</span>
      Manage Shuttle Schedules
    </div>
  </a>
  <a href="/admin/reservation">
    <div class="item">
      <span class="material-icons">fact_check</span>
      Manage Reservations
    </div>
  </a>
  <a href="/admin/announcement">
    <div class="item">
      <span class="material-icons">campaign</span>
      Manage Announcements
    </div>
  </a>
  <a href="/admin/auth/create">
    <div class="item admin">
      <span class="material-icons">group_add</span>
      Add SSU/Dispatcher
    </div>
  </a>
</div>

<script>
  const role = "<%= role %>";
</script>