<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/adminLanding/landing.css">
<script defer src="/adminLanding/landing.js" ></script>

<!-- Content for dispatcher -->
<div class="dispatcher-container">
  <div class="header">Hello, name</div>
  <div class="item">
    <a href="/admin/checkin">Check In</a>
  </div>
</div>
<div class="tab">
  <a href="/">Home</a>  
  <a href="/profile">Account</a>
</div>

<!-- Content for admin -->
<div class="admin-container">
  <div class="header">Hello, name</div>
  <div class="item">
    <a href="/admin/schedule">Schedules</a>
  </div>
  <div class="item">
    <a href="/admin/reservation">Reservations</a>
  </div>
</div>