<html>
  <head>
    <title>Booking List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../global.css" />
    <link rel="stylesheet" type="text/css" href="./announcementDetail.css" />
  </head>
  <body>
    <div class="bg-head"></div>
    <div class="announcement-container">
      <div id="announcement-title">
        ANNOUNCEMENT TITLE
      </div>
      <div id="announcement-date">
        Date
      </div>
      <div id="announcement-content">
        Text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text 
      </div>
    </div>
  </body>
  <script src="./announcementDetail.js"></script>
</html> 