<script src="/registrationModule/confirmCreateAcc/confirmCreateAcc.js"></script>
<img src="<%- picture %>" alt="photo" />
<span><%= name %></span>
<span><%= email %></span>
<button onclick="toCreateAccount()">NEXT</button>
<button onclick="window.location.href='/auth/signin'">
  Sign on with a different Google account
</button>
Confirm Create Acc
