<script>
  // get idToken from query
  const urlParams = new URLSearchParams(window.location.search)
  const idToken = urlParams.get('idToken')

  // set idToken in hidden input
  document.querySelector('input[name="idToken"]').value = idToken
</script>

<form method="post" action="/auth/create" enctype="multipart/form-data">
  <input type="hidden" name="idToken" />
  <label for="designation">DESIGNATION</label>
  <select id="designation" name="designation">
    <option value="student">Student</option>
    <option value="teacher">Teacher</option>
  </select>
  <label for="idNumber">ID NUMBER</label>
  <input id="idNumber" type="number" name="idNumber" />
  <label for="collegeOrDepartment">COLLEGE/DEPARTMENT</label>
  <select id="collegeOrDepartment" name="collegeOrDepartment">
    <option value="ccs">College of Computer Studies</option>
    <option value="cos">College of Science</option>
  </select>
  <label for="campus">CAMPUS</label>
  <select id="campus" name="campus">
    <option value="manila">Manila</option>
    <option value="laguna">Laguna</option>
  </select>
  <label for="eaf">EAF</label>
  <input id="eaf" type="file" name="eaf" />
  <label for="vaccinationRecord">VACCINATION RECORD</label>
  <input id="vaccinationRecord" type="file" name="vaccinationRecord" />
  <button type="submit">Submit</button>
</form>
