<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/registrationModule/createAcc/createAcc.css" />
<script defer src="/registrationModule/createAcc/createAcc.js"></script>

<div class="header-container">
  <div class="header-title">
    Create your account
  </div>
  <div class="step-container">
    <div class="step-1"></div>
    <div class="step-2"></div>
  </div>
  <div>Some details about you</div>
</div>

<form method="post" action="/auth/create" enctype="multipart/form-data">
  <input type="hidden" name="idToken" />
  <label for="designation">DESIGNATION</label>
  <select id="designation" name="designation">
    <option value="student">Student</option>
    <option value="teacher">Teacher</option>
  </select>
  <label for="idNumber">ID NUMBER</label>
  <input id="idNumber" type="number" name="idNumber" required />
  <label for="collegeOrDepartment">COLLEGE/DEPARTMENT</label>
  <select id="collegeOrDepartment" name="collegeOrDepartment">
    <option value="ccs">College of Computer Studies</option>
    <option value="cos">College of Science</option>
  </select>
  <label for="campus">CAMPUS</label>
  <select id="campus" name="campus">
    <option value="manila">Manila</option>
    <option value="laguna">Laguna</option>
  </select>
  <label for="eaf" style="margin-top: 20px; margin-bottom: 0px;">EAF</label>
  <div class="file-upload-container">
    <div id="eaf-filename">No file uploaded</div>
    <label for="eaf" class="file-upload">Upload file</label>
    <input id="eaf" type="file" name="eaf"/>
  </div>
  <label for="vaccinationRecord" style="margin-top: 20px; margin-bottom: 0px;">VACCINATION RECORD</label>
  <div class="file-upload-container">
    <div id="vaccination-filename">No file uploaded</div>
    <label for="vaccinationRecord" class="file-upload">Upload file</label>
    <input id="vaccinationRecord" type="file" name="vaccinationRecord" />
  </div>
  <div class="action-container">
    <button id="back" type="button">← BACK</button>
    <button id="register" type="submit">REGISTER</button>
  </div>
</form>