<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/registrationModule/success/success.css" />
<script defer src="/registrationModule/success/success.js"></script>

<title>Success</title>

<div class="header-container">
  <div id="header-message"></div>
</div>

<div class="main-container">
  <div class="message-container">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" width="145" height="145" viewBox="0 0 145 145" fill="none">
        <circle cx="72.5" cy="72.5" r="72.5" fill="#417845"/>
        <path d="M30.8774 76.2548L57.1226 102.5L113.623 46" stroke="white" stroke-width="10"/>
      </svg>
    </div>
    <div class="message-1">You're good to go</div>
    <div class="message-2">You can now start booking trips</div>
  </div>
  
  <div class="proceed-container">
    <a href="/"><button id="proceed">PROCEED -></button></a>
  </div>  
</div>