<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="landing/landing.css" />

<title>Landing</title>

<div class="header-container">
  <div class="header">
    Welcome aboard,<br> 
    <span id="name"><%- name %>!</span>
  </div>
</div>

<div class="main-container">
    <a class="item" href="/reservation">
        <span class="material-icons">airport_shuttle</span>
        Reserve Trip

    </a>
    <a class="item" href="/trip">
        <span class="material-icons">receipt_long</span>
        My Trips
    </a>
    <a class="item" href="/announcement">
        <span class="material-icons">campaign</span>
        Announcements
    </a>
</div>

<div class="tab">
  <a href="/">Home</a>
  <% if(unRead) { %>
  <div id="notification-badge" data-count="<%= unRead %>"><a href="/notification">Notification</a></div>
  <% } else { %>
  <a href="/notification">Notifications</a>
  <% } %>

  <a href="/profile">Account</a>
</div>