<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="landing/landing.css" />


<div class="main-container">
  <div class="header">
    Hello, Name!
  </div>
  <a class="item">Announcemnt</a>
  <a class="item">Reserve Trip</a>
  <a class="item">My Trips</a>
  <a class="item">History</a>
</div>

<div class="tab">
  <div>Home</div>
  <div>Calendar</div>
  <div>Notification</div>
  <div>Account</div>
</div>
