<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="landing/landing.css" />

<div class="main-container">
  <div class="header">Hello, Name!</div>
  <a class="item" href="/announcement">Announcement</a>
  <a class="item" href="/reservation">Reserve Trip</a>
  <a class="item" href="/trip">My Trips</a>
  <a class="item">History</a>
</div>

<div class="tab">
  <div>Home</div>
  <div>Calendar</div>
  <% if(unRead) { %>
  <div id="notification-badge" data-count="<%= unRead %>">Notification</div>
  <% } else { %>
  <div>Notification</div>
  <% } %>

  <div>Account</div>
</div>
