<%- include('../common/headers.ejs') %>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script defer src="/adminCheckInModule/scan/scan.js"></script>
<link rel="stylesheet" href="/adminCheckInModule/scan/scan.css"/>

<div class="main-container">
  <div>
    Place QR code inside frame to scan
  </div>
  <div id="reader" ></div>
  <button onclick="history.back()">BACK TO LIST</button>
</div>