body {
  background-color: white;
  padding: 25px;
}

.location {
  display: flex;
  gap: 10px;
}

.status {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 13.5px;
  border: 0.5px solid #000;
}

#alert-message {
  display: none;
}