<html>
  <head>
    <title>Booking List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./bookinglist.js"></script>
    <link rel="stylesheet" type="text/css" href="../../global.css" />
    <link rel="stylesheet" type="text/css" href="./bookinglist.css" />
  </head>
  <body>
    <div class="bg-head"></div>
    <div class="booking-info">
      <div>
        <div class="booking-info-admin">
          ADMIN
        </div>
        <div id="booking-date">
          [Day and Date]
        </div>
        <button id="qr-btn">QR BTN</button>
      </div>
    </div>
    <div class="booking-list">
      <table class="booking-list-table">
        <tr>
          <th>Student ID</th>
          <th>Name</th>
          <th>Pickup Loc</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>121112345</td>
          <td>Bella Santos</td>
          <td>Laguna</td>
          <td>...</td>
        </tr>
        <tr>
          <td>121112345</td>
          <td>Bella Santos</td>
          <td>Laguna</td>
          <td class="confirmed">Confirmed</td>
        </tr>
        <tr>
          <td>121112345</td>
          <td>Bella Santos</td>
          <td>Laguna</td>
          <td class="cancelled">Canceled</td>
        </tr>
      </table>
    </div>
  </body>
</html>