<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/myTripModule/myTrip/myTrip.css" />
<script defer src="/myTripModule/myTrip/myTrip.js"></script>

<div id="alert-message">
</div>

<div>My Trip</div>

<div>
  Recent
  <div id="recent-trip-container">

  </div>
</div>

<div>
  Past trips
  <div id="past-trip-container">

  </div>
</div>

<script>
  const tripList = JSON.parse(`<%- JSON.stringify(tripList) %>`);
</script>