<%- include('../common/headers.ejs') %>
<link rel="stylesheet" href="/myTripModule/tripDetail/tripDetail.css" />
<script defer src="/myTripModule/tripDetail/tripDetail.js"></script>

<title>Trip Detail</title>

<div>Trip details</div>

<div>
  <div>
    STATUS
  </div>
  <div id="status">
  </div>
</div>

<div>
  Time
  <div id="origin-time">

  </div>
</div>

<div class="information-container">
  <div class="information-item">
    <div>
      ORIGIN
    </div>
    <div>
      DESTINATION
    </div>
  </div>
  <div class="information-item">
    <div id="origin-date">
    </div>
    <div id="destination-date">
    </div>
  </div>
  <hr solid />
  <div class="information-item">
    <div id="origin-location">
    </div>
    <div id="destination-location">
    </div>
  </div>
</div>

<form action="/trip/cancel/<%-detail.id%>" method="POST">
  <button>CANCEL TRIP</button>
</form>

<script>
  const tripDetail = JSON.parse(`<%- JSON.stringify(detail) %>`);
  console.log(tripDetail)
</script>