<%- include('../common/headers.ejs') %>
<link
  rel="stylesheet"
  href="/clientAnnouncementModule/announcementDetail/announcementDetail.css"
/>

<title>Announcement Detail</title>

<a href="/announcement"><div class="header">&lt; Back</div></a>

<div class="announcement-title"><%= title %></div>

<div class="announcement-container"><%= description %></div>
