<form action="/profile/eaf" method="post" enctype="multipart/form-data">
  <input type="file" name="eaf" />
</form>
<span>eaf updated <%= eafUpdatedAt %></span>

<form action="/profile/vaccination" method="post" enctype="multipart/form-data">
  <input type="file" name="vaccination" />
</form>
<span>vaccination updated <%= vaccinationRecordUpdatedAt %> </span>
settings
