body {
  background-color: white;
  padding: 25px;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
}

.step-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  gap: 20px;
}

.step-1 {
  width: 100%;
  height: 8px;
  background: rgba(0, 0, 0, 0.25);
}

.step-2 {
  width: 100%;
  height: 8px;
  background: #000;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
}

input, select {
  padding: 9px 10px;
  border: 1px solid #000;
}

.file-upload-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

#eaf-filename, #vaccination-filename {
  color: #868F93;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type="file"] {
  display: none;
}

.file-upload {
  padding: 5px 10px;
  border-radius: 13.5px;
  border: 0.5px solid #000;
  min-width: 110px;
}


.action-container {
  margin-top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 60px;
}

button {
  padding: 16px 48px 16px 47px;
  border: 1px solid #FFF;
  background: #000;
  color: #FFF;
}