<%- include('../common/headers.ejs') %>
<link
  rel="stylesheet"
  href="/notificationModule/notificationDetail/notificationDetail.css"
/>

<title>Notification Detail</title>

<div class="bg-head"></div>
<h4 class="title">ARROWS EXPRESS SHUTTLE NOTIFICATION</h4>

<div class="notification-container">
  <div class="title-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
    >
      <path
        d="M18.3333 11.6666H21.6666V14.9999H18.3333V11.6666ZM18.3333 18.3333H21.6666V28.3333H18.3333V18.3333ZM20 3.33325C10.8 3.33325 3.33331 10.7999 3.33331 19.9999C3.33331 29.1999 10.8 36.6666 20 36.6666C29.2 36.6666 36.6666 29.1999 36.6666 19.9999C36.6666 10.7999 29.2 3.33325 20 3.33325ZM20 33.3333C12.65 33.3333 6.66665 27.3499 6.66665 19.9999C6.66665 12.6499 12.65 6.66659 20 6.66659C27.35 6.66659 33.3333 12.6499 33.3333 19.9999C33.3333 27.3499 27.35 33.3333 20 33.3333Z"
        fill="black"
      />
    </svg>
    <div class="notification-title"><%= notification.title%></div>
  </div>

  <div class="notification-description"><%= notification.description%></div>
</div>

<a href="/notification">
  <button class="back-btn">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="25"
      height="24"
      viewBox="0 0 25 24"
      fill="none"
    >
      <path
        d="M20.5 11H8.33L13.92 5.41L12.5 4L4.5 12L12.5 20L13.91 18.59L8.33 13H20.5V11Z"
        fill="#417845"
      />
    </svg>
    Back
  </button>
</a>
