<%- include('../common/headers.ejs') %>
<link
  rel="stylesheet"
  href="/notificationModule/notificationDetail/notificationDetail.css"
/>

<a href="/notification"><div class="header">&lt; Back</div></a>

<div class="notification-title">Title</div>

<div class="notification-container">Content</div>