<%- include('../common/headers.ejs') %>
<link
  rel="stylesheet"
  href="/notificationModule/notification/notification.css"
/>

<a href="/"><div class="header">&lt; Back</div></a>

<div class="header-2">Notification</div>

<div class="notification-container">
  <% for(const notification of notifications) { %>
  <a href="/notification/detail/<%= notification._id %>" style="display: contents">
    <div class="notification-item">
      <div>ICON</div>
      <div><%= notification.title %></div>
      <div>></div>
    </div>
  </a>
  <% } %>
</div>